
# Add your build option here.
# e.g. After you defind the option of debug
#      you can use the following command to build
#      bazel build --config debug //build:tile_handler
build:debug -c dbg
build:debug --copt="-O1"
build:debug --copt="-g"
build:debug --strip=never
build:debug --jobs=10

"set cpu threading into 5 when building "
build --jobs=7
"-fPIC"
build --force_pic

# build --sandbox_debug
build --copt="-fno-strict-aliasing"
build --copt="-O3"
build --cxxopt='-std=c++17'
# "-O2 -DNDEBUG"
# build --compilation_mode=opt
build --cxxopt="-fpermissive"

# User-specific .bazelrc
try-import user.bazelrc
