createdAt: "2018-12-13T01:51:11.879Z"
updatedAt: "2018-12-13T01:57:01.070Z"
type: "MARKDOWN_NOTE"
folder: "742b290c4e679bed3513"
title: "polymorphic"
content: '''
  # polymorphic
  
  ```cpp
  class A{
  public:
    A(int _a);
    virtual void vfunc();
    void func();
    void func(int);
    
    int a;
  };
  
  class B: public A{
  public:
    using A::A; // 使用A的全部构造函数
    void vfunc() override;
    void func(); //只会覆盖，无法添加override关键词，同时隐藏掉A::func(int)
    
    int a;
  };
  
  A* pa = new B(0);
  
  pa->vfunc(); // B::vfunc()
  pa->func(); // A::func()
  pa->a; // A::a
  
  B* pb = dynamic_cast<B*>(pa);
  pb->a; // B::a
  pb->func(1); // error, B没有func(int)方法
  pb->A::func(1); // A::func(int)
  pb->A::func(); // A::func()
  pb->func(); // B::func()
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
