createdAt: "2019-04-23T02:29:01.598Z"
updatedAt: "2019-08-30T02:55:37.825Z"
type: "MARKDOWN_NOTE"
folder: "4d4f4fd5037554e03338"
title: "git"
tags: []
content: '''
  # git
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
