createdAt: "2019-01-14T07:12:08.555Z"
updatedAt: "2019-08-15T08:06:51.432Z"
type: "MARKDOWN_NOTE"
folder: "3ee76ac761e39836b6e0"
title: "kotlin"
tags: []
content: '''
  ## kotlin
  
  ```kotlin
  // let
  fun <T, R> T.let(f: (T)-> R):R = f(this)
  
  // run 返回最后一行, apply 返回自身, 但似乎直接作为block执行比较好;
  fun <T, R> T.run(f: T.()-> R): R= f()
  
  // 扩展函数
  fun Random.IntRange(low: Int, high: Int): Int
  
  operator fun Point.unaryMinus() = Point(-x, -y)
  ```
  
'''
isStarred: false
isTrashed: false
linesHighlighted: []
