createdAt: "2018-10-29T01:56:14.400Z"
updatedAt: "2018-10-29T02:09:29.391Z"
type: "MARKDOWN_NOTE"
folder: "f3aeaddc36c42d9137b3"
title: "excel"
content: '''
  # excel
  
  ```python
  import xlrd
  
  file = xlrd.open_workbook('file.xls')
  
  # gain table
  tab = file.sheets()[0]
  tab = file.sheet_by_index(0)
  tab = file.sheet_by_name(u'Sheet1')
  
  # gain data
  tab.row_values(i)
  tab.col_values(i)
  # gain cell
  cellA1 = tab.cell(0, 0).value
  cellC4 = tab.cell(2, 3).value
  
  # write
  # ctype: 0-empty, 1-string, 2-number, 3-date, 4-boolean, 5-error 
  r, c = 0, 0
  tab.put_cell(r, c, ctype, value, cformat)
  
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
