createdAt: "2018-11-22T02:56:29.340Z"
updatedAt: "2018-11-22T02:57:56.790Z"
type: "MARKDOWN_NOTE"
folder: "f3aeaddc36c42d9137b3"
title: "texttabble"
content: '''
  # texttabble
  
  `pip install texttable`
  
  ```python
  from texttable import Texttable
  tt = Texttable()
  tt.set_deco(Texttable.HEADER)
  tt.add_rows([[...], [...], [...], ...])
  
  print(tt.draw())
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
