createdAt: "2019-04-29T06:15:56.754Z"
updatedAt: "2019-04-29T06:18:17.029Z"
type: "MARKDOWN_NOTE"
folder: "742b290c4e679bed3513"
title: "notes"
tags: []
content: '''
  # notes
  
  ```cpp
  // 联合排序
  std::vector<std::pair<float, int> > variance_index(num_dimensions);
  
  for(int i=0; i<num_dimensions; ++i){
    variance_index[i].first = variances[i];
    variance_index[i].second = i;
  }
  
  std::sort(variance_index.begin(), variance_index.end(),
    std::greater<std::pair<float, int> >());
  ```
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
