createdAt: "2019-08-11T12:02:08.753Z"
updatedAt: "2019-08-11T12:02:23.616Z"
type: "MARKDOWN_NOTE"
folder: "3ee76ac761e39836b6e0"
title: "godot"
tags: []
content: '''
  ### godot
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
