createdAt: "2020-04-27T04:13:36.355Z"
updatedAt: "2020-04-27T04:13:45.394Z"
type: "MARKDOWN_NOTE"
folder: "3ee76ac761e39836b6e0"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
