createdAt: "2018-11-12T01:09:50.172Z"
updatedAt: "2019-09-24T02:31:49.261Z"
type: "MARKDOWN_NOTE"
folder: "3ee76ac761e39836b6e0"
title: "lua & moonscript"
content: '''
  # lua & moonscript
  ```lua
  math.mod 
  -- 运算符重载, moonscript中可以直接写在class内
  __add, __sub, __mul, __div, __unm -- 相反数 
  __mod, __pow, __concat -- 字符串连接符..
  __eq, __lt, __le -- 比较==, <, <=
  __tostring
  
  ... -- 变长参数
  for i, v in ipairs{...} do print(v) end 
  
  -- io
  file = io.open("test", "r")
  io.input(file)
  io.read() -- read a line. "*all", "*line", "*number", num
  io.close(file)
  
  file = io.open("test", "a")
  io.output(file)
  io.write("-- write a line")
  io.close(file)
  ```
  
  **moonscript惯用**
  ```
  -- 字符串插入
  a = random 0, 100
  "i am #{a}% sure."
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
