createdAt: "2019-11-26T03:24:44.690Z"
updatedAt: "2020-04-15T07:33:20.418Z"
type: "MARKDOWN_NOTE"
folder: "f3aeaddc36c42d9137b3"
title: "fp"
tags: []
content: '''
  ## fp
  
  ```python
  from fn import F, _
  
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
