createdAt: "2018-10-29T02:50:03.222Z"
updatedAt: "2019-05-08T11:34:16.755Z"
type: "MARKDOWN_NOTE"
folder: "f3aeaddc36c42d9137b3"
title: "python"
content: '''
  # python
  ```python
  # 匹配数字
  re.findall(r'[-+]?\\d*\\.?\\d+', "<str>11,2.0,-3.2,.02</str>") # 11, 2.0, -3.2, .02
  ```
  
  ```python
  # version check
  import sys
  print(sys.version_info)
  
  a = [1, 2, 3, ]
  list(map(lambda x: x**2, a)) # [1, 4, 9]
  list(filter(lambda x: x%2==0, a)) #[2, ]
  
  sorted(a, lambda x: x%2) # [2, 1, 3]
  
  import functools
  functools.reduce(lambda x, y: x+y, a, 0) # 6
  
  # partial bind
  def function(a, b): pass
  b2func = functools.partial(function, b=2)
  
  # lazy function, 
  def lazy_sum(*args):
    def sum():
      s = 0
      for n in args:
        s += n
      return s
    return sum
  
  # zip, 'unzip'
  a, b = [1, 2, 3], [4, 5, 6]
  l = zip(a, b) # [(1, 4), (2, 5), (3, 6)]
  zip(*l) # [(1, 2, 3), (4, 5, 6)]
  
  ```
  
  ```python
  # 进制转换
  int('ff', 16) # 255
  hex(255) # 0xff
  
  # asc
  ord('a') # 97
  chr(97) # a
  
  # 控制台输入
  line = input('input a line: ')
  line = line if line else 'default'
  
  # 字符串格式化
  # ^, <, >: 居中，左，右对齐，后接宽度
  # : 后紧跟填充符号，默认空格
  '{:0>8}'.format(3.14)
  '{:.4f}'.format(3.14159) # '3.1416'
  '{:0>10.4f}'.format(3.14159) # '00003.1416'
  # 进制: b, d, o, x: 2, 10, 8, 16
  '{:b}'.format(11) # '1011'
  # 千位分隔符
  '{:,}'.format(1230000) # '1,230,000'
  
  # 严谨的转换
  if string.isdigit():
    return int(string)
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
