createdAt: "2019-06-11T02:40:50.199Z"
updatedAt: "2019-06-11T02:46:10.745Z"
type: "MARKDOWN_NOTE"
folder: "b0153a4adcdd7e1569b9"
title: "sort"
tags: []
content: '''
  ## sort
  
  ```cpp
  void quick_sort(std::vector<int>& vec, std::size_t left, std::size_t right){
    if(left< right){
      std::size_t i(left), j(right), val(vec[left]);
      while(i< j){
        // <-- j
        while(i< j && vec[j]>= val) --j;
        if(i< j) vec[i++] = vec[j]
        // i -->
        while(i<j && vec[i]< val) ++i;
        if(i< j) vec[j--] = vec[i];
      }
    }
    
    vec[i] = val;
    quick_sort(vec, left, j- 1)
    quick_sort(vec, j+ 1, right)
  }
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
