createdAt: "2019-07-01T07:22:35.088Z"
updatedAt: "2019-07-02T01:52:54.207Z"
type: "MARKDOWN_NOTE"
folder: "1e8e7087e48b4c193327"
title: "Direct Methods for Sparse Linear Systems"
tags: []
content: '''
  ## Direct Methods for Sparse Linear Systems
  
  > Define the directed graph $G_L=(V, E)$ with nodes $V=\\{1...n\\}$ and edges $E=\\{(j, i)| l_{ij}\\ne 0\\}$. Let $Reach_L(i)$ denote the set of nodes reachable from node $i$ via paths in $G_L$, and let $Reach(B)$ for a set $B$ bbe the set of all nodes reachable from any node in $B$. The nonzero pattern $X = \\{j| x_j\\ne 0\\}$ of the solution $x$ to the sparse linear system $Lx = b$ is given by $X = Reach_L(B)$, where $B = \\{i| b_i\\ne 0\\}$, assuming no numerical cancellation.
  > 
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
