createdAt: "2019-06-11T03:04:53.132Z"
updatedAt: "2019-06-11T03:07:55.538Z"
type: "MARKDOWN_NOTE"
folder: "e6cf9d6de29d53bd1458"
title: "vim"
tags: []
content: '''
  ## vim
  
  撤销 `u`
  回复 `C-r`
  
  查找模式 `/`，使用`n, N`跳到下，上一个
  
  复制 `y`，复制多行`yy(yny, nyy)`
  剪切 `d`
  粘贴 `p`
  
  删除单个字符 `x`
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
