createdAt: "2018-11-07T08:48:44.831Z"
updatedAt: "2020-03-19T08:50:10.443Z"
type: "MARKDOWN_NOTE"
folder: "f3aeaddc36c42d9137b3"
title: "sympy"
content: '''
  # sympy
  
  ```python
  import sympy as sm
  ```
  
  ```python
  sm.init_printing(use_unicode=True)
  
  x, y = sm.symbols('x y')
  
  # 化简三角函数
  a = sm.cos(x+ sm.pi/3)+ sm.cos(x- sm.pi/3)
  a.trigsimp() # cos(x)
  
  # 带入求值
  (x** 2+ 1).subs(x, x+1)
  (x** 2+ 1).evalf(subs={'x': 1})
  
  # 展开
  sm.expand((x+1)**2) # x^2+ 2x+ 1
  ((x+1)**2+ 1).expand()
  ```
  
  #### 计算
  
  $$ (\\sin x\\ e^ x)' = (\\cos x + \\sin x) e^ x $$
  `sm.diff(sm.sin(x)* sm.exp(x), x)`
  
  $$ \\int (e^x \\sin x+ e^x \\cos x)\\ dx = e^x \\sin x + C $$
  `sm.integrate(sm.exp(x)* sm.sin(x)+ sm.exp(x)* sm.cos(x), x)`
  
  $$ \\int_{-\\infty}^{+\\infty} e^x \\sin x dx  $$
  `sm.integrate(sm.exp(x)* sm.sin(x), x, (x, -sm.oo, sm.oo))`
  
  $$ \\lim_{n \\to 0} \\frac {\\sin x} x = 1$$
  `sm.limit(sm.sin(x)/x, x, 0)`
  
  $$ x^2-2=0 \\Rightarrow x = \\sqrt 2 $$
  `sm.solve(x**2- 2, x)`
  `sm.solve(sm.Eq(x**2, 2), x)`
  
  $$ y''- y =e^x $$
  `y = sm.Function('y')`
  `eq = sm.Eq(y(x).diff(x, x)- y(x), sm.exp(x))`
  `sm.dsolve(eq, y(x))`
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
