createdAt: "2019-02-14T08:32:56.264Z"
updatedAt: "2019-02-15T03:11:17.548Z"
type: "MARKDOWN_NOTE"
folder: "1e8e7087e48b4c193327"
title: "lines"
tags: []
content: '''
  # lines 
  
  the solution we adopt in this paper is to design approximation algorithms, which are computationally efficient and provide performance guarantees (roughly speaking, produce a set which is not far from the optimal subset).
  
  we investigate how to speed up computation(or, quivalently, reduce the computational effort) in visual navigation by prioritizing sensor data in a task-dependent fashion.
  
  their reliance on having to view all points on the object
  
  this type of worlds can be found in a range of video games, including but not limited to 2D isometric games and text console based games like rougelikes
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
