createdAt: "2018-12-25T10:41:00.144Z"
updatedAt: "2018-12-27T10:22:48.029Z"
type: "MARKDOWN_NOTE"
folder: "1e8e7087e48b4c193327"
title: "optimization algorithms on matrix manifold"
tags: []
content: '''
  ## optimization algorithms on matrix manifold
  
  > a **atlas**(图册) of $M$ into $R^d$ is a collection of charts$(U_\\alpha, \\varphi_\\alpha)$ of a set $M$ such that:
  > 1. $\\bigcup_\\alpha U_\\alpha = M$
  > 2. for any pair $\\alpha, \\beta$ with $U_\\alpha\\cap U_\\beta \\neq \\varnothing$, then $\\varphi_\\alpha \\circ \\varphi_\\beta^{-1}$ is smooth on its domain $\\varphi_\\beta(U_\\alpha\\cap U_\\beta)$
  
  **local parameterization**:
  given a chart $\\varphi$ on $M$, the inverse mapping $\\varphi^{-1}$ is called a local parameterization of $M$.
  
  **Stiefel manifold**: 
  let $St(p, n)$ denote the set of all $n\\times p$ orthonormal matrices; i.e.
  $$St(p, n):= \\{X\\in R^{n\\times p}: X^TX=I_p\\}$$
  where $I_p$ denotes the identity matrix. The set $St(p, n)$ is called an (orthogonal or compact) Stiefel manifold.
  
  **real projective space**:
  $RP^{n-1}$ is the set of all directions in $R^n$, let $R_*^n:=R^n-\\{0\\}$:
  $$x\\sim y \\Leftrightarrow \\exists t\\in R_*: y=xt$$
  then 
  $$RP^{n-1} \\simeq R_*^n/ \\sim$$
  
  **Grassmann manifold**:
  $Grass(p, n)$ denote the set of all $p$-dimensional subspaces of $R^n$.
  
  **tangent vector**:
  let $\\Im_x(M)$ denote the set of smooth real-valued functions defined on a neighborhood of $x$, a tangent vector $\\xi_x$ to a manifold $M$ at a point $x$ is a mappint from $\\Im_x(M)$ to $R$ such that there exists a curve $\\gamma$ on $M$ with $\\gamma(0)=x$, satisfying
  $$\\xi_x f=\\dot \\gamma(0)f:=\\frac{d(f(\\gamma(t)))}{dt}|_{t=0}$$
  for all $f\\in \\Im_x(M)$, such a curve $\\gamma$ is said to realize the tangent vector $\\xi_x$
  
'''
isStarred: false
isTrashed: false
