createdAt: "2018-12-13T07:58:40.732Z"
updatedAt: "2019-01-08T03:02:10.459Z"
type: "MARKDOWN_NOTE"
folder: "1e8e7087e48b4c193327"
title: "notes"
content: '''
  ## notes
  
  #### soft thresholding
  $$\\arg \\min_x \\frac 12||x- a||^2_2+ k||x||_1 $$
  $$ x^*= \\left\\{\\begin{matrix} 
  a- k, \\quad a> k \\\\
  0, \\quad |a|\\le k \\to (1- \\frac k{|a|})_+ a\\\\
  a+ k, \\quad a< -k
  \\end{matrix}\\right. $$
  
  
  #### 反对称
  $$a^\\times b = -b^\\times a $$
  $$aa^T-(a^\\times)^2 = I$$
  $$ (Qa)^\\times = Qa^\\times Q^T $$
  $$ \\phi_1^\\times \\phi_2^\\times - \\phi_2^\\times \\phi_1^\\times = (\\phi_1^\\times \\phi_2)^\\times $$
  
  #### kronnecker & vectorization
  $$A\\otimes B =\\{a_{ij}B\\}$$
  $$(aA)\\otimes(bB) = ab(A\\otimes B) $$
  $$(A+B)\\otimes C = (A\\otimes C)+ (B\\otimes C)$$
  
  $$(A\\otimes B)(C\\otimes D) = AC\\otimes BD$$
  $$|A_{n\\times n}\\otimes B_{m\\times m}| = |A|^m|B|^n$$
  $$(A\\otimes B)^T = A^T\\otimes B^T$$
  $$(A\\otimes B)^{-1} = A^{-1}\\otimes B^{-1}$$
  $$A\\oplus B = I_m\\otimes A+ B\\otimes I_n$$
  
  $$vec(XY) =  (I_k \\otimes X)vec(Y) = (Y^T \\otimes I_k) \\ vec(X) $$
  $$vec(AYC) = (C^T \\otimes A) \\ vec(Y) $$
  
'''
tags: []
isStarred: false
isTrashed: false
