createdAt: "2018-12-13T07:58:40.732Z"
updatedAt: "2018-12-13T08:19:02.375Z"
type: "MARKDOWN_NOTE"
folder: "1e8e7087e48b4c193327"
title: "notes"
content: '''
  ## notes
  
  #### 反对称
  $$a^\\times b = -b^\\times a $$
  $$aa^T-(a^\\times)^2 = I$$
  $$ (Qa)^\\times = Qa^\\times Q^T $$
  $$ \\phi_1^\\times \\phi_2^\\times - \\phi_2^\\times \\phi_1^\\times = (\\phi_1^\\times \\phi_2)^\\times $$
  
'''
tags: []
isStarred: false
isTrashed: false
