createdAt: "2019-10-17T07:37:05.178Z"
updatedAt: "2019-10-17T07:37:10.211Z"
type: "MARKDOWN_NOTE"
folder: "1e8e7087e48b4c193327"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
