createdAt: "2018-12-26T02:13:04.711Z"
updatedAt: "2018-12-26T02:36:58.381Z"
type: "MARKDOWN_NOTE"
folder: "f3aeaddc36c42d9137b3"
title: "conda"
tags: []
content: '''
  ## conda
  
  `conda update conda`
  
  创建环境
  `conda create --name [ENV_NAME] python=3.5` 
  
  查看环境列表
  `conda info --envs` 
  
  激活(关闭)环境
  `source activate [ENV_NAME]` 
  `source deactivate`
  
  当前环境相关操作：
  `conda list`
  
  `conda search [PACKAGE_NAME]`
  `conda install [PACKAGE_NAME]`
  `conda update [PACKAGE_NAME]`
  
  删包
  `conda remove -n [ENV_NAME] [PACKAGE_NAME, ...]`
  
  `conda env remove --name [ENV_NAME]` # 先取消激活
  
'''
isStarred: false
isTrashed: false
