createdAt: "2019-09-23T09:43:01.419Z"
updatedAt: "2019-09-23T09:55:25.145Z"
type: "MARKDOWN_NOTE"
folder: "3ee76ac761e39836b6e0"
title: "shader"
tags: []
content: '''
  ## shader
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
