createdAt: "2019-02-14T01:52:55.982Z"
updatedAt: "2019-02-14T01:54:08.606Z"
type: "MARKDOWN_NOTE"
folder: "3f153c5a68dd415c9898"
title: "linux安装:"
tags: []
content: '''
  linux安装: 
  [git jill](https://github.com/abelsiqueira/jill)
  `bash -ci "$(curl -fsSL https://raw.githubusercontent.com/abelsiqueira/jill/master/jill.sh)"`
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
