createdAt: "2018-10-29T02:11:58.773Z"
updatedAt: "2018-10-29T02:12:18.579Z"
type: "SNIPPET_NOTE"
folder: "f3aeaddc36c42d9137b3"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "APL"
    content: "how sw "
  }
]
tags: []
isStarred: false
isTrashed: true
